*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Kanit", sans-serif;
    scroll-behavior: smooth;
}

 body{  
    background: radial-gradient( rgba(179, 164, 164, 0.516), rgb(0, 0, 0));
    background-color: rgb(0, 0, 0);
 }
 a {
  text-decoration: none;
  color: inherit;
}
.interface{
    max-width: 1400px;
    padding: 0 4%;
    margin: 0 auto;
}
/* *Estilo do cabeçalho*/
      header{
      background-color: rgb(5, 5, 5);
      border-bottom: 1px solid white;    
      }
      header > .interface{
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      header .logotipocabecalho img{
        max-width: 200px;
      }
    header nav.menu ul{
        display: flex;
        list-style: none;
        gap: 26px;
        color: white;
    }
        header nav.menu a{
        color: white;
        text-decoration: none;
        font-size: 1.1rem;     
        }
        header nav.menu a:hover{
            color: red;
            transition: 0.2s;
    }
    .div-inteira{
        margin: 50px auto;
        max-width: 1400px;
        padding: 0 4%; 
    }
    .interface-topo-jogos{
        max-width:1600px;
        padding: 0 4%;
        margin: 0px auto;
        background-color: rgb(7, 7, 7);
        text-align: center;
        border-bottom: 2px solid transparent;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-clip: padding-box;
        padding-top: 20px;
        }
    .interface-topo-jogos h1{               
        color: rgb(234, 234, 234);
        font-size: 70px;
        line-height: 1.1;
        padding: 10px;
    }
    .interface-topo{
        max-width:1600px;
        padding: 0 4%;
        margin: 0px auto;
        background: radial-gradient( rgba(255, 0, 0, 0.153), rgb(1, 1, 1));
        background-color: black;
        text-align: center;
        border-bottom: 2px solid transparent;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        background-clip: padding-box;
    
    }
     .interface-topo h1{
        color: rgb(234, 234, 234);
        font-size: 70px;
        line-height: 1.1;
        padding: 10px;
     }
    .interface-topo p{
        font-size: 18px;
        color: rgb(182, 182, 182);
        padding: 20px;
        text-align: center;
     }
         .interface-topo img{
            width: auto;
            height: 350px;
            transition:0.5s;
            border-radius: 10px;
            border: 2px solid white;
     }
     .segundo-botao-jogos{
        background-color: white;
        margin-bottom: 30px;
        width: 240px;
        height: auto;
        justify-self: center;
        border-radius: 10px;
        border: 2px solid black;
        text-align: center;
     }
     .segundo-botao-jogos h2{
        color: rgb(0, 0, 0);
        transition: 0.2s;
     }
    .segundo-botao-jogos h2:hover{
        color: red;
        transition: 0.2s;
          }
        .interface-topo img:hover{
        transform: scale(1.05);
        transition:0.5s;
     }
        .botao-jogos{
            font-size: 30px;
            color: white;
        }
        .primeira-imagem{
            padding-bottom: 20px;
        }
        .informacoes-empresa{
            text-align: center;
            background-color: rgb(27, 27, 27);
            padding: 50px;
            padding-left: 100px;
            padding-right: 100px;
            border-bottom: 2px solid transparent;
            background-clip: padding-box;
        }
        .informacoes-empresa h2{
            color: rgb(255, 255, 255);
            padding-bottom: 20px;
        }
        .informacoes-empresa p{
            color: rgb(182, 182, 182);
        }
        .interface-noticias{
            background-color: rgb(9, 9, 9);
            text-align: center;
            padding: 50px;
            border-bottom: 2px solid transparent;
            background-clip: padding-box;
            display: flex;
            justify-content: center;
            flex-direction: column;
        }
        .interface-noticias h2{
            color: white;
            display: flex;
            justify-content: center;
        }
        .div-tabelas{
            display: flex;
            margin-top: 20px;
            justify-content: space-between;
            flex-wrap: wrap;
        }
        .jogos-tabela {
            background-color: black;
            border-radius: 10px;
            justify-content: space-between;
            padding: 20px;
            padding-top: 0;
            width: 400px;
            align-items: center;
            margin: 20px;
            border: 2px solid rgb(80, 80, 80);
        }
        .jogos-tabela p{
            color: white;
            text-align: center;
            margin: 0;
            line-height: 1.2;
        }
        .jogos-tabela img{
            width: 50px;
        }
        .competicao p{
            display: flex;
            text-align: center;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            color: rgb(0, 0, 0);
            border: 2px solid rgb(47, 47, 47);
            background-color: azure;
            margin-bottom: 10px;
            border-radius: 5px;
        }
        .jogos {
            display: flex;
            justify-content: space-between;
            text-align: center;
            align-items: center;
        }
        .interface-interna-noticias{
            margin: 50px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 50px;
        }
        .bloco-noticias{
            display: flex;
            padding: 10px;
            border-bottom: 2px solid rgb(236, 1, 1);
            align-items: center;
            background-color: #EAEAEA;
        }
        .bloco-noticias img{
            width: 350px;
            height: auto;
        }
        .noticias-informacoes{
            padding: 10px;
            align-items: center;
            text-align: center;
        }
        .noticias-informacoes p{
           text-align: left;
           align-items: left;
           justify-content: center;
           display: flex;
           flex-direction: column;
           font-size: 18px;
           line-height: 1.2;
           color: black;
        }
        .noticias-informacoes h4{
           text-align: left;
           justify-content: center;
           display: flex;
           flex-direction: column;
           padding-left: 20px;
           margin-bottom: 20px;
           border-bottom: 1px solid rgb(93, 93, 93);
        }
        .texto-pequeno {
            margin-top: 20px;
        }
        .texto-pequeno p{
            font-size: 12px;
        }
        .interface-topo-noticia{
        max-width:1600px;
        padding: 0 4%;
        margin: 0px auto;
        background-color: rgb(17, 17, 17);
        text-align: center;
        border-bottom: 2px solid transparent;
        background-clip: padding-box;
        border-bottom: 2px solid rgb(255, 204, 109);
        padding-bottom: 30px;
        }
        .interface-topo-noticia h2{
            color: #EAEAEA;
            text-align: left;
            padding: 30px;
            padding-top: 40px;
            border-bottom: 2px solid rgb(100, 100, 100) ;
        }
         .interface-topo-noticia img{
            margin-top: 40px;
            box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
            max-width: 700px;
        }
        .interface-topo-noticia p{
            color: white;
            text-align: left;
            padding: 5px;
        }
        .descricao-imagem p{
            color: white;
            margin-top: 5px;
            margin-bottom: 40px;
            text-align: center;
            font-size: 14px;
        }
        .descricao-noticia {
            padding-top: 5px;
            padding-bottom: 40px;
            border-bottom: 2px solid rgb(100, 100, 100) ;
        }
        .descricao-noticia p{
            color: #CFCFCF;
        }
        .noticia-texto p{
            color: white;
            text-align: left;
            margin: 5px;
            padding: 12px;
        }
        .calendario h3,p{
            color: #EAEAEA;
            text-align: left;
            padding: 5px;
        }
        .calendario li{
            color: #CFCFCF;
            margin-left: 40px;
        }
        .calendario h3{
            margin: 20px;
        }
    @media screen and (max-width:1150px){
        .div-inteira{
        margin: 0px;
        margin-top: 20px;
        padding: 0;
         }
    .interface-topo{
        padding-top: 20px;
    }
    .interface-topo-jogos{
        padding-top: 20px;
    }
    .interface-topo img{
        height: 150px;
        width: auto;
    }
         .interface-topo h1{
        font-size: 30px;
}
         .interface-topo-jogos h1{
        font-size: 30px;
}
    .interface-topo p{
        font-size: 15px;
        padding: 10px;
        padding-bottom: 20px;
     }
     .informacoes-empresa{
        padding: 20px;
     }
     .informacoes-empresa h2{
        font-size: 20px;
        padding-bottom: 10px;
        padding-left: 60px;
        padding-right: 60px;
     }
     .informacoes-empresa p{
        font-size: 15px;
     }
    header nav.menu ul{
        gap: 16px;
    }
    header nav.menu a{
        font-size: 0.8rem;     
        }
    header img{
        width: 150px;
        height: auto;
    }
    .div-tabelas {
        flex-direction: column;
        margin-top: 0px;
        justify-content: center;
        align-items: center;
    }
    .jogos-tabela{
        margin: 5px;
        width: 300px;
        padding: 10px;
    }
    
    .jogos img{
        width: 30px;
        height: auto;
    }
    .jogos p{
        font-size: 15px;
    }
    .competicao p{
        margin-top: 2px;
    }
    .bloco-noticias{
        flex-direction: column;
        padding: 0px;
        justify-content: center;
        }
    .bloco-noticias img{
        width: 220px;
        height: auto;
    }
    .interface-interna-noticias{
        margin: 0;
    }
        .interface-noticias{
        padding: 5px;
        justify-content: center;
        align-items: center;
    }
    .esconder-texto p{
        display: none;
    }
     .interface-topo-noticia img{
        width: 300px;
        height: auto;
        box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.3);
        }
}
    @media screen and (max-width:700px){
    .jogos-tabela{
        margin: 5px;
        width: 270px;
        padding: 5px;
    }
    .jogos p{
        font-size: 14px;
    }
    .bloco-noticias{
        padding: 10px;
        width: 250px;
        }
        .noticias-informacoes p{
            font-size: 14px;
        }
        .texto-pequeno p{
            font-size: 10px;
        }
        .interface-topo-noticia img{
            width: 250px;
            height: auto;
        }
        .interface-topo-noticia h2{
            font-size: 18px;
        }
    }